- name: Configure webserver
  hosts: all
  remote_user: admin
  become: yes
  serial: "{{ serial_override | default(1) }}"
  vars:
    animal: cow
  tasks:
    - name: Remove from load balancing
      upcloud.cloud.loadbalancer_backend_member:
        loadbalancer_uuid: "{{ loadbalancer_uuid }}"
        backend_name: main
        member_name: "member_{{ ansible_facts.hostname[-1:] }}"
        weight: 0
      when:
      - serial_override|default(1)|int != 0
      - loadbalancer_uuid is defined
      delegate_to: localhost
      become: false
    - name: Install nginx
      apt:
        package: nginx
        state: latest
        update_cache: yes
    - name: Get latest static content release
      uri:
        url: https://api.github.com/repos/UpCloudLtd/hello-container/releases/latest
      register: release
    - name: Remote default from enabled sites
      file:
        path: /etc/nginx/sites-enabled/default
        state: absent
      notify:
        - Restart nginx
    - name: Remove existing content from nginx
      file:
        path: /usr/share/nginx/html
        state: absent
    - name: Recreate empty directory for nginx content
      file:
        path: /usr/share/nginx/html
        state: directory
        mode: '0755'
    - name: Download and unarchive static content ({{ animal }})
      unarchive:
        remote_src: yes
        src: https://github.com/UpCloudLtd/hello-container/releases/download/{{ release.json.tag_name }}/hello-{{ animal }}.tar.gz
        dest: /usr/share/nginx/html/
      notify:
        - Restart nginx
    - name: Download nginx config
      get_url:
        url: https://github.com/UpCloudLtd/hello-container/releases/download/{{ release.json.tag_name }}/index.conf
        dest: /etc/nginx/conf.d/index.conf
    - name: Replace ${NGINX_PORT} with actual port
      replace:
        path: /etc/nginx/conf.d/index.conf
        regexp: '\$\{NGINX_PORT\}'
        replace: '80'
      notify:
        - Restart nginx
    - name: Add back to load balancing
      upcloud.cloud.loadbalancer_backend_member:
        loadbalancer_uuid: "{{ loadbalancer_uuid }}"
        backend_name: main
        member_name: "member_{{ ansible_facts.hostname[-1:] }}"
        weight: 100
      when:
      - serial_override|default(1)|int != 0
      - loadbalancer_uuid is defined
      delegate_to: localhost
      become: false
  handlers:
    - name: Restart nginx
      service:
        name: nginx
        state: restarted
